<form class="card" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="card-header">Create New Cylinder Type</div>
    <div class="card-body">
      <div class="form-group">
        <label for="title">Cylinder Name Name</label>
        <input type="text" class="form-control" formControlName="title" />
        <small class="help-text" *ngIf="title.invalid && (title.touched || title.dirty)">
          <span class="text-danger" *ngIf="title.hasError('required')">
            Please Enter Cylinder Name
          </span>
          <span class="text-danger" *ngIf="title.hasError('duplicate')">
            Name Already Exists
          </span>
        </small>
      </div>
      <div class="form-group">
        <label for="capacity">Capacity</label
        ><input
          type="number"
          min="1"
          step="1"
          class="form-control"
          formControlName="capacity"
        />
        <small class="help-text" *ngIf="capacity.invalid && (capacity.touched || capacity.dirty)">
          <span class="text-danger" *ngIf="capacity.hasError('required')">
            Please Enter Capacity.
          </span>
          <span class="text-danger" *ngIf="capacity.hasError('min')">
            Atleast 1 is Required.
          </span>
        </small>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="myForm.invalid">Submit</button>
    </div>
  </form>
  