<div class="row g-3">
  <div class="col-md-4">
    <div
      class="card"
      *ngIf="oxygenRequest; else noRequest"
      [ngClass]="loading ? 'loading' : ''"
    >
      <div class="card-header">
        {{ oxygenRequest.patient.title }}
      </div>
      <div class="card-body">
        <p class="text-center">
          Current SPO2 Level - {{ oxygenRequest.spo2_level }}
        </p>

        <div class="form-group">
          <label for="cylinder">Cylinder Type</label>
          <select class="form-select" [formControl]="cylinder">
            <option value="" *ngFor="let item of cylinderTypes | async" [value]="item.id">
              {{ item.title }} - {{ item.capacity }}
            </option>
          </select>
        </div>

        <div class="btn-group w-100">
          <button class="btn btn-success" (click)="onSubmit('APPROVED')">
            Approve
          </button>
          <button class="btn btn-danger" (click)="onSubmit('REJECTED')">
            Reject
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <app-list-old-request [requests]="previousRequests"></app-list-old-request>
  </div>
  <div class="col-md-4">
    <app-patient-table [patient]="patient"></app-patient-table>
  </div>
</div>

<ng-template #noRequest>
  <div class="card card-body">Invalid Request</div>
</ng-template>
