<form class="card" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="card-header">Create New Ward</div>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="form-group">
        <label for="title">Ward Name</label
        ><input type="text" class="form-control" formControlName="title" />
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="form-group">
        <label for="bedCount">Total Of Beds</label
        ><input
          type="number"
          min="0"
          step="1"
          class="form-control"
          formControlName="bedCount"
        />
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="form-group">
        <label for="bedsWithOxygen">No. of Beds with Oxygen Line</label
        ><input
          type="text"
          class="form-control"
          formControlName="bedsWithOxygen"
        />
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
  </div>
</form>
