<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6">
    <div class="card" [ngClass]="loading?'loading':''">
        <div class="card-header">Create New Patient</div>
        <form class="card-body" [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Patients Name</label>
            <input type="text" class="form-control" formControlName="title" />
          </div>
          <div class="form-group">
            <label for="father">Father / Husband</label>
            <input type="text" class="form-control" formControlName="father" />
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" formControlName="age" />
          </div>
          <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="text" class="form-control" formControlName="mobile" />
          </div>
          <div class="form-group">
              <label for="spo2_level">SPO2 Level</label>
              <input type="number" min="0" max="100" step="1" class="form-control" formControlName="spo2_level" />
            </div>
    
          <div class="form-group">
            <label for="bed_number">Bed Number</label>
            <input type="number" min="0" step="1" class="form-control" formControlName="bed_number" />
          </div>
          <div class="form-check">
            <label for="has_oxygen_line">Has Oxygen Line</label>
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="has_oxygen_line"
            />
          </div>
          <div class="form-group">
            <label for="ward_id">Ward ID</label>
            <select name="ward_id" class="form-select" formControlName="ward_id">
              <option value="" *ngFor="let ward of wards | async" [value]="ward.id">
                {{ ward.title }}
              </option>
            </select>
          </div>
    
          <div class="form-group">
              <label for="narration">Narration</label>
              <input type="text" class="form-control" formControlName="narration" />
            </div>
    
          <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
        </form>
      </div>
    
  </div>
</div>