<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">Management</div>
    <button class="navbar-toggler" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngClass]="collapsed ? 'collapse' : ''">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item dropdown" appDropdown>
          <a class="nav-link dropdown-toggle"> Patient </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/patient', 'create']" class="dropdown-item"
                >Create New</a
              >
            </li>
            <li>
              <a [routerLink]="['/patient', 'list']" class="dropdown-item"
                >View Patient</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            routerLink="/request/create"
            routerLinkActive="active"
            class="nav-link"
            >Create New Request</a
          >
        </li>
        <li class="nav-item dropdown" appDropdown *ngIf="isAdmin()">
          <a class="nav-link dropdown-toggle"> Administration </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/admin', 'create-user']" class="dropdown-item"
                >Create New User</a
              >
            </li>
            <li>
              <a [routerLink]="['/admin', 'ward']" class="dropdown-item"
                >Create New Ward</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li
          class="nav-item dropdown"
          appDropdown
          *ngIf="isLoggedIn(); else signInMenu"
        >
          <a class="nav-link dropdown-toggle">
            {{ user.title }}
          </a>
          <ul class="dropdown-menu">
            <!-- <li>
                <div class="dropdown-item">Profile</div>
              </li> -->
            <li><a (click)="signOut()" class="dropdown-item">Logout</a></li>
          </ul>
        </li>
        <ng-template #signInMenu>
          <li class="nav-item">
            <a
              [routerLink]="['/login']"
              routerLinkActive="active teal"
              class="nav-link"
            >
              Sign In
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
