<div class="row justify-content-center">
  <div class="col-md-6">
    <form class="card">
      <div class="card-header">Create New User</div>
      <div class="card-body">
        <div class="form-group">
          <label for="title">Full Name</label
          ><input type="text" class="form-control" formControlName="title" />
        </div>
        <div class="form-group">
          <label for="username">Username</label
          ><input type="text" class="form-control" formControlName="username" />
        </div>
        <div class="form-group">
          <label for="password">Password</label
          ><input type="text" class="form-control" formControlName="password" />
        </div>
        <div class="form-group">
          <label for="mobile">Mobile Number</label
          ><input type="text" class="form-control" formControlName="mobile" />
        </div>
      </div>
    </form>
  </div>
</div>
